* {
  box-sizing: border-box;
  }

html { 
    scroll-behavior: smooth;
}

body {
    background: white url("https://bn1303files.storage.live.com/y4m-iOf5D8u_tSXcqOiXk2FLtoNhf7hksjhU5QVhacD5stXXcaS7OnVBVX_ij7yf-f7r1O6n2aA5U_i8hkGVkRtp5zS1E7GoNzIj7VrawKPsKG_FjoxYQQGqyYMlmxDejor9Hei67q7kLwQjB5N8mVmh3Bx5o5a3XxMh7W8V4Mf8tvOzVrPSfLnuNI6Gyu3smq7?width=3637&height=5456&cropmode=none") 
    no-repeat fixed 50% 57% ;
    width: 100vw;
    height: 100vh;
    background-size: cover;
}

header {
  z-index: 10;
}

header ul {
  text-align: center;
  margin: 15px auto;
  padding: 0 20px;
}

header li {
  font-family: 'Playfair Display', serif;
  font-weight: 600;
  font-size: 1.5vw;
  display: inline-block;
  padding: 0 65px;
  margin-left: 2em;
}

header li a {
    color: rgb(59, 28, 28);
}

header li a:hover {
    color: cornflowerblue;
}

.introduction {
  width:100%;
  margin-top: 4.5%;
  position: relative;
  display: flex;
}

.left-main-bio {
  display: inline-block;
  width: 66%;
  margin: 0 0;
  padding-top: 0;
}

.left-main-bio h1 {
  color:white;
  font-size: 3.75vw;
  font-family: 'Playfair Display', serif;
  text-align: left;
  margin: 0 1% 1% 20%;
}

.left-main-bio h2 {
  color:white;
  font-size: 2vw;
  text-align: left;
  font-family: 'Titillium Web', sans-serif;
  margin: 1% 1% 1% 20%;
}

.image-container {
    margin: 0 10% 0 auto;
    width: 30%;
    text-align: center;
}
.image-container:hover {
    animation: grow;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}
@keyframes grow {
    0% {transform: scale(1);}
    50% {transform: scale(1.1);}
    100% {transform: scale(1);}
}

.image-container img {
  max-width: 60%;
  height: auto;
  display: inline-block;
  border-radius: 50%;
}

.rotated-image-start {
    transform: rotate(0deg);
}
.rotated-image-25 {
    transform: rotate(90deg);
}

.rotated-image-50 {
    transform: rotate(180deg);
}

.rotated-image-75 {
    transform: rotate(270deg);
}

.main-content-1 {
  background-color:rgba(0, 0, 0, 0.5);
  text-align: center;
  padding-bottom: 2%;
  margin-top: 17%;
}

.main-content-1 h2 {
  color: #fff;
  font-size: 3.5vw;
  margin: 12% 15% 0;
  padding-top: 1%;
  text-align: center;
  min-width: 20em;
  font-family: 'Playfair Display', serif;
}

.main-content-1 p {
  color: #fff;
  font-size: 1.5vw;
  line-height: 1.5;
  text-align: center;
  margin: 1% 15%;
  min-width: 20em;
  font-family: 'Titillium Web', sans-serif;
}

.main-content-1 p a {
  color: white;
}

.main-content-1 p a:hover {
  color: cornflowerblue;
}

.projects-container {
    /* position: relative; */
    width: 100%;
    /* top: 140px; */
}

.projects-container h1 {
    text-align: center;
    font-size: 4vw;
    color: white;
    margin-top: 0;
}

.projects-container ul {
    width: 60%;
    text-align: left;
    font-size: 2vw;
    color: white;
    margin-left: 25%;
}

.projects-container li {
    padding-top:50px;
    color: white;
}

.projects-container li a {
    color: white;
}

.projects-container li a:hover {
    color: blue;
}

hr {
    width: 65%;
    /* border-top: 2px white; */
}

footer {
  background-color:rgba(0, 0, 0, 0.9);
  padding: 0;
  /* display: block;
  position: absolute;
  bottom: 0; */
}

footer p {
  color: white;
  text-align: center;
  font-weight:600;
  font-family: 'Titillium Web', sans-serif;
  margin: 0;
}
