* {
  box-sizing: border-box;
  }

body {
    background: linear-gradient(-45deg, #1129ff, #000000);
    margin: 0;
    padding: 0;
    position: fixed;
    width: 100%;
  }

header {
  border-bottom: 2px solid #000;
  position: fixed;
  width: 100%;
  z-index: 10;
}

.introduction {
  position: relative;
  top: 100px;
  width:100%;
  border: solid 2px white;
  display: inline-block;
}

.left-main-bio {
  display: inline-block;
  border: 2px solid green;
  width: 50%;
  margin: 2em 2em;
  border-radius: 100px;
}

.left-main-bio h1 {
  color:white;
  font-size: 2.5em;
  font-family: Georgia;
  text-align: center;
}

.left-main-bio h2 {
  color:white;
  font-size: 1.5em;
  text-align: center;
  font-family: Helvetica;
}

.right-main-bio {
display: inline-block;
margin: 2.2em 2em;
border: 2px solid blue;
position: relative;
top: 15px;
border-radius: 100%;
border-collapse: separate; 
}

.image {
  width: 270px;
  border-radius: 100%;
  z-index: 500;
  
}

ul {
  margin: 30px auto;
  padding: 0 20px;
  text-align: center;
  border: 2px solid red;
}

li {
  color: #FFF;
  font-family: 'Georgia', sans-serif;
  display: inline-block;
  padding: 0 80px;
  border: 2px solid pink;
}

li:hover {
  color: #39c8fc;
}

.main-content-1 {
  background-color:rgba(0, 0, 0, 0.3);
  border: 2px solid purple;
  position: relative;
  top: 100px;
}

.main-content-1 h2 {
  color: #fff;
  font-size: 1em;
}

.main-content-1 p {
  color: #fff;
  font-size: 0.75em;
  text-align: left;
  border: 2px solid grey;
}