body {
    background: linear-gradient(-45deg, #1129ff, #000000);
    margin: 0;
    padding: 0;
  }

header {
  background-color: #1129ff00;
  border-bottom: 1px solid #000;
  position: fixed;
  width: 100%;
  z-index: 10;
}

.introduction {
  position: absolute;
  width:100%;
}

.left-main-bio {
  background-color:rgba(255, 255, 255, 0);
  padding: 0 50px;
  margin: 100px;
  width: 60%
}

.left-main-bio h2 {
  color:rgba(255, 255, 255, 0);
}

ul {
  margin: 30px auto;
  padding: 0 20px;
  text-align: center;
}

li {
  color: #FFF;
  font-family: 'Georgia', sans-serif;
  font-size: 16px;
  font-weight: 300;
  text-transform: uppercase;
  display: inline-block;
  width: 80px;
}

li:hover {
  color: #39c8fc;
}

h1 {
  color: #FFF;
  width: 100%;
  font-family: Georgia;
  text-align: left;
}

h2 {
  color: rgba(255, 255, 255, 0.5);
  font-weight: 100;
  font-family: Georgia;
}

p {
  color: aliceblue;
  text-align: left;
  width: 100%;
  font-family: Georgia, sans-serif;
  font-size: 18px;
  font-weight: bold;
}

.main-content-1 {
  position: relative;
}

.image {
  width: 100%;
  position: relative;
}